[popover] {
  animation: slideToBottom 0.4s ease-out;

}

[popover]:popover-open {
  animation: slideFromBottom 0.4s ease-out;
}

::backdrop{
  animation: fade-in 1s ease-in;
  background-color: rgb(0, 0, 0);
  opacity: 0.2;
}

/* Animation keyframes */
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.2;
  }
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideToBottom {
  0% {
    transform: translateY(0);
    display: block;
  }

  100% {
    transform: translateY(100vh);
    display: none;
  }
}